<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.monkeyapp.numbers.ocrcapture">

    <application>
        <activity
            android:name=".OcrCaptureActivity">
            <intent-filter>
                <action android:name="com.monkeyapp.numbers.intent.OCR_CAPTURE"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
